
<footer>
  <img src="https://backend.turing.edu/assets/icons/TuringSchool_LogoMark_Gray.png" alt="The MovieDB Logo" width="75px" style="margin:10px">
  <div>
<tr><tr><tr/><tr/>
  <br>
      <td>Thank you to the back-end instructional team at <a href="https://backend.turing.edu/" class="btn btn-sm btn-dark navbar-custom blacktext">Turing School</a> for providing the mock data that is used in this application.
    <td>
  </div>
</footer>
