<script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>

<br/><br/><br/>

<div align="left">
  <div align="center" class="badge-base LI-profile-badge btn  navbar-custom btn-sm" data-locale="en_US" align="center" data-size="large" data-theme="light" data-type="VERTICAL" data-vanity="bfl3tch" data-version="v1">
    <a class="badge-base__link LI-simple-link btn btn-outline-dark navbar-custom btn-sm" href="https://github.com/bfl3tch">Github Profile</a><br/><br/><br/>
  </div><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
  <div class="github-profile-badge" data-user="bfl3tch"></div>
  <script src="https://cdn.jsdelivr.net/gh/bfl3tch/github-profile-badge@latest/src/widget.min.js"></script>
  <div align="center" class="btn  navbar-custom btn-sm"><img src="https://backend.turing.edu/assets/icons/TuringSchool_LogoMark_Gray.png" alt="The MovieDB Logo" width="75px" style="margin:10px">Thank you to the back-end instructional team at <a href="https://backend.turing.edu/" class="btn btn-sm btn-dark navbar-custom blacktext">Turing School</a> for providing the mock data that is used in this application.
  </div>



    <div>
  <tr><tr><tr/><tr/>
    <br>
        <td>
      <td>
    </div>
  </footer>


</div>
